<div class="row" [ngClass]="{'page-wrapper': isMyEventsPage(), 'page-wrapper-full': !isMyEventsPage()}">
  <div class="col-md-1">
    <img class="page-img" src="../../../assets/previous.png" (click)="previousPage()" *ngIf="!isFirstPage()">
  </div>
  <div class="col-md-10">
    <div class="row button-wrapper" *ngIf="isMyEventsPage()">
      <button (click)="addEvent()">Add
        <img src="../../../assets/add.png">
      </button>
    </div>
    <div class="row requests-wrapper" *ngIf="isMyEventsPage(); else upcomingEvents">
      <div class="col-md-4 request-container" *ngFor="let event of getEventsToDisplay();">
        <app-event [event]="event" (removedEvent)="removeEvent($event)"></app-event>
      </div>
    </div>
    <ng-template #upcomingEvents>
      <div class="row requests-wrapper">
        <div class="col-md-3 request-container" *ngFor="let event of getEventsToDisplay();">
          <app-event [event]="event" (removedEvent)="removeEvent($event)"></app-event>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="col-md-1">
    <img class="page-img" src="../../../assets/next.png" (click)="nextPage()" *ngIf="!isLastPage()">
  </div>
</div>