.pagination-wrapper {
  position: absolute;
  width: 75%;
  right: 0;
  top: 50%;
  bottom: 0;
  margin: auto;

  .previous {
    padding-left: 15px;
  }

  .next {
    text-align: end;
    padding-right: 20px;
  }

  img {
    width: 45px;
    cursor: pointer;
  }
}

.page-wrapper {
  width: 67%;
  position: absolute;
  top: 95px;
  right: 80px;

  button {
    width: 115px;
    height: 55px;
    background: #000000;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #ffffff;
    cursor: pointer;
    border: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }

    img {
      width: 25px;
      margin-left: 5px;
      margin-top: -5px;
    }
  }

  .pets-wrapper > .pet-container:nth-of-type(4n) {
    clear: both;
  } 
}