<div class="page-wrapper">
  <div class="navbar">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">HOME</a></li>
      <!--Lista cu animale oferite pentru adoptie-->
      <li><a routerLink="/adopt" routerLinkActive="active">ADOPT</a></li>
      <!--List cu adaposturi: Descriere, locatie, contact, how to donate, posibilitatea de a le vizita profilul-->
      <!-- <li><a routerLink="/shelters" routerLinkActive="active">SHELTERS</a></li> -->

      <!--Integrare cu google maps penntru locatie si afisare cele mai apropiate centre veterinare + program de lucru, servicii oferite-->
      <!-- <li><a routerLink="/veterinary" routerLinkActive="active">VETERINARY</a></li> -->

      <!--Raportare cazuri de urgenta: harta + deschidere form cu descriere, contact etc-->
      <!-- <li><a routerLink="/emergency" routerLinkActive="active">EMERGENCY</a></li> -->
      <!--Evenimente-->
      <!-- <li><a routerLink="/upcoming-events" routerLinkActive="active">UPCOMING EVENTS</a></li> -->
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>
      <li *ngIf="authService.isAuthenticated()">
        <div class="dropdown">
          <a [ngClass]="{'active': isChildLinkActive()}">PROFILE</a>
          <div class="dropdown-content">
            <a routerLink="/profile">MY PROFILE</a>
            <a (click)="authService.logout()">LOGOUT</a>
          </div>
        </div>
      </li>
    </ul>
    <img class="menu" src="../../../assets/menu.png">
    <img class="login" src="../../../assets/login.png">
  </div>
</div>
<router-outlet></router-outlet>