<div class="page-wrapper">
  <div class="navbar">
    <ul>
      <!--Despre cum functioneaza aplicatia-->
      <li>ABOUT US</li>
      <!--Lista cu animale oferite pentru adoptie-->
      <li><a routerLink="/adopt" routerLinkActive="active">ADOPT</a></li>
      <!--List cu adaposturi: Descriere, locatie, contact, how to donate, posibilitatea de a le vizita profilul-->
      <li>SHELTERS</li>
      <!--List cu veterinari + integrare cu google maps penntru locatie si afisare cele mai apropiate centre veterinare-->
      <li>VETERINARY</li>
      <!--Raportare cazuri de urgenta: harta + deschidere form cu descriere, contact etc-->
      <li>EMERGENCY</li>
      <!--Articole despre legi/procesul de adoptie/ingrijirea animalelor-->
      <li>BLOG</li>
      <!--Evenimente-->
      <li>EVENTS</li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login" routerLinkActive="active">LOGIN</a></li>
      <li *ngIf="authService.isAuthenticated()">
        <div class="dropdown">
          <a [ngClass]="{'active': isChildLinkActive()}">HOME</a>
          <div class="dropdown-content">
            <a routerLink="/profile">MY PROFILE</a>
            <a (click)="authService.logout()">LOGOUT</a>
          </div>
        </div>
      </li>
    </ul>
    <img class="menu" src="../../../assets/menu.png">
    <img class="login" src="../../../assets/login.png">
  </div>
</div>