<div class="request-wrapper">
  <div class="row">
    <div class="col-md-12 image-wrapper">
      <ngx-loading [show]="!event.imageUrl && event.image !== ''" [config]="{ backdropBorderRadius: '3px' }">
      </ngx-loading>
      <div *ngIf="event.imageUrl">
        <img [src]="domSanitizer.bypassSecurityTrustUrl(event.imageUrl)">
      </div>
      <div *ngIf="!event.imageUrl && event.image === ''">
        <img src="../../../../assets/calendar.png">
        <hr />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 request-details">
      <div class="row">
        <p class="name">{{event.name}}</p>
      </div>
      <div class="row">
        <p class="organizer">{{event.organizer}}</p>
      </div>
      <div class="row">
        <p>{{getDateTime()}}</p>
      </div>
      <div class="row">
        <p>{{event.location}}</p>
      </div>
      <div class="row">
        <p>{{event.address}}</p>
      </div>
      <div class="row request-message">
        <p>{{event.description}}</p>
      </div>
    </div>
  </div>

  <div class="row button-wrapper">
    <hr />
    <div class="col-md-8"></div>
    <div class="col-md-4 submit-button">
      <button>Subscribe</button>
    </div>
  </div>

  <div class="buttons-wrapper" *ngIf="isMyEventsPage()">
    <hr />
    <div class="row">
      <div class="col-md-12">
        <img src="../../../../assets/delete-blue.png" matTooltip="Delete event" (click)="onDeleteEvent()">
      </div>
    </div>
  </div>
</div>