<div class="details-wrapper">
  <div class="profile-section-wrapper">
    <div class="profile-picture">
      <img src="../../../assets/profile-picture-replacer.png">
    </div>
    <div class="user-name">{{user.name}}</div>
    <div class="menu">
      <ul>
        <li><a routerLink="/profile/my-pets" routerLinkActive="active">MY PETS</a></li>
        <li><a routerLink="/profile/favorites" routerLinkActive="active">FAVORITES</a></li>
        <li>
          <div class="dropdown">
            <a [ngClass]="{'active': isChildLinkActive()}">ADOPTION REQUESTS</a>
            <div class="dropdown-content">
              <a routerLink="/profile/adoption-requests/received">RECEIVED</a>
              <hr />
              <a routerLink="/profile/adoption-requests/sent">SENT</a>
            </div>
          </div>
        </li>
        <!-- Aici daca nu a bifat pentru a primi notifications trebuie sa apara ceva de genul: aboneaza-te la notificari si ceva gen - more about emergency notifications -->
        <li>NOTIFICATIONS</li>
        <!-- Afisare detalii existente somehow + pop up in care se poate aduga mai multe poze/editare ce exista deja + detalii pentru donatii -->
        <li><a routerLink="/profile/edit" routerLinkActive="active">CONTACT INFO & DONATIONS</a></li>
        <li>EVENTS</li>
        <li>CONTRIBUTE WITH AN ARTICLE</li>
      </ul>
    </div>
  </div>
</div>