<div class="details-wrapper">
  <div class="profile-section-wrapper" *ngIf="user">
    <div class="profile-picture">
      <mat-card class="profile-picture-card">
        <div *ngIf="user.profileImageUrl">
          <img mat-card-avatar [src]="domSanitizer.bypassSecurityTrustUrl(user.profileImageUrl)"
            (click)="fileInput.click()">
        </div>
        <div *ngIf="!user.profileImageUrl && user.profileImage === ''">
          <img mat-card-avatar src="../../../assets/profile-picture-replacer.png" (click)="fileInput.click()">
        </div>
        <input #fileInput type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="updateProfilePicture()"
          accept="image/*" style="display: none;" />
      </mat-card>
    </div>
    <div class="user-name">{{user.name}}</div>
    <div class="menu">
      <ul>
        <li><a routerLink="/profile/my-pets" routerLinkActive="active">PETS</a></li>
        <li><a routerLink="/profile/favorites" routerLinkActive="active">FAVORITES</a></li>
        <li class="submenu">
          <a [ngClass]="{'active': isChildLinkActive()}" (click)="openCloseSubmenu()">ADOPTION REQUESTS</a>
          <ul [ngClass]="{'hidden-submenu': hideSubmenu}">
            <hr />
            <li class="received"><a routerLink="/profile/adoption-requests/received"
                routerLinkActive="active">RECEIVED</a></li>
            <li class="sent"><a routerLink="/profile/adoption-requests/sent" routerLinkActive="active">SENT</a></li>
            <hr class="last-hr" />
          </ul>
        </li>
        <!-- Aici daca nu a bifat pentru a primi notifications trebuie sa apara ceva de genul: aboneaza-te la notificari si ceva gen - more about emergency notifications -->
        <li><a routerLink="/profile/my-notifications" routerLinkActive="active">NOTIFICATIONS</a></li>
        <!-- <li>CONTRIBUTE WITH AN ARTICLE</li> -->
        <li class="submenu">
          <a [ngClass]="{'active': isChildLinkActiveEvents()}" (click)="openCloseEventSubmenu()">EVENTS</a>
          <ul [ngClass]="{'hidden-submenu': hideEventSubmenu}">
            <hr />
            <li class="received"><a routerLink="/profile/events/created"
                routerLinkActive="active">CREATED BY ME</a></li>
            <li class="sent"><a routerLink="/profile/events/subscribed" routerLinkActive="active">SUBSCRIBED TO</a></li>
            <hr class="last-hr" />
          </ul>
        </li>
        <li>
          <img src="../../../assets/settings.png" matTooltip="Edit contact and donations info" (click)="onEditInfo()">
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>