<div (mouseenter)="displayDetails=true" (mouseleave)="displayDetails=false">
  <div class="image-wrapper" *ngIf="pet.profileImageUrl">
    <img [src]=" domSanitizer.bypassSecurityTrustUrl(pet.profileImageUrl)">
  </div>

  <div class="image-wrapper" *ngIf="!pet.profileImageUrl && this.pet.images.length === 0">
    <img src="../../../../assets/dog.png">
  </div>

  <div *ngIf="displayDetails" class="on-hover">
    <div class="name">
      <p>{{pet.name}}</p>
    </div>
    <div class="status">
      <p>{{pet.status}}</p>
    </div>
    <div class="row details">
      <div class="col-md-6 details-column">
        <p>Age: {{getAge()}}</p>
        <p>Size: {{pet.size}}</p>
      </div>
      <div class="col-md-6 details-column">
        <p>Gender: {{pet.gender}}</p>
        <p>Category: {{pet.category}}</p>
      </div>
    </div>
    <div class="description">
      <p>{{getDescription()}}</p>
    </div>
    <div *ngIf="isMyPetsPage()">
      <div class="right-image" (click)="editPet()">
        <img src="../../../assets/view-more.png">
      </div>
      <div class="left-image" (click)="deletePet()">
        <img src="../../../assets/delete.png">
      </div>
    </div>
    <div *ngIf="!isMyPetsPage()">
      <div class="right-image" (click)="viewPetDetails()">
        <img src="../../../assets/view-more.png">
      </div>
      <div class="left-image">
        <img src="../../../../assets/empty-heart.png" *ngIf="!isFavorite()" (click)="addToFavorites()">
        <img src="../../../../assets/full-heart.png" *ngIf="isFavorite()" (click)="removeFromFavorites()">
      </div>
    </div>
  </div>