.pet-image-wrapper {
  width: 252px;

  &:hover {
    -webkit-box-shadow: 2px 0 25px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 0 25px -8px rgba(0, 0, 0, 1);
    box-shadow: 2px 0 25px -8px rgba(0, 0, 0, 1);
  }

  .pet-image {      
    img {
      width: 252px;
    }
  }
    
  .on-hover {
    position: relative;
    margin-top: -252px;
    height: 252px;
    background: rgba(0, 0, 0, 0.75);

    p {
      margin: 0; 
      font-family: inherit;
      letter-spacing: 1px;
      font-weight: 100;
      color: white;
    }

    .name {
      text-align: center;
      font-size: 18px;
      padding-top: 15px;
      text-transform: uppercase;
    }

    .status {
      text-align: center;
      font-size: 13px;
    }

    .details {
      font-size: 13px;
      margin: 0;
      margin-top: 15px;
    }

    .description {
      /* use this value to count block height */
      line-height: 1.2em;
      /* max-height = line-height (1.2) * lines max number (5) */
      max-height: 6em; 
      font-size: 12px;
      overflow: hidden;
      position: relative; 
      text-align: justify;  
      margin-right: 2px;;
      padding-right: 15px;
      margin-top: 10px;
      margin-left: 15px;

      &:before {
        position: absolute;
        content: '...';
        color: white;
        font-family: inherit;
        letter-spacing: 1px;
        font-weight: 100;
        right: 0;
        bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
      }
    }

    .view-more {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-right: 15px;
      margin-bottom: 10px;

      img {
        width: 35px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
