<div class="details-wrapper">
  <div class="search-section-wrapper">
    <div class="search-form">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <label for="action">
          <span>I want to:</span>
        </label>
        <select formControlName="action">
          <option selected>adopt or foster</option>
          <option>find my lost pet</option>
        </select>
        <label for="location">
          <span>Location:</span>
        </label>
        <select formControlName="location">
          <option selected>Any</option>
          <option>Bucharest</option>
          <option>Teleorman</option>
        </select>
        <label for="category">
          <span>Category:</span>
        </label>
        <select formControlName="category">
          <option selected>Any</option>
          <option>Dog</option>
          <option>Cat</option>
          <option>Fish</option>
          <option>Rabbit</option>
        </select>
        <label for="age">
          <span>Age:</span>
        </label>
        <select formControlName="age">
          <option selected>Any</option>
          <option>&#60; 1 year</option>
          <option>1 year - 5 years</option>
          <option>&#62; 5 years</option>
        </select>
        <label for="size">
          <span>Size:</span>
        </label>
        <select formControlName="size">
          <option selected>Any</option>
          <option>Small</option>
          <option>Medium</option>
          <option>Big</option>
        </select>
        <label for="gender">
          <span>Gender:</span>
        </label>
        <select formControlName="gender">
          <option selected>Any</option>
          <option>Female</option>
          <option>Male</option>
        </select>
        <label for="fitFor">
          <span>Fit for:</span>
        </label>
        <select formControlName="fitFor">
          <option selected>Any</option>
          <option>Apartment</option>
          <option>House</option>
        </select>
        <label for="goodWith">
          <span>Good with:</span>
        </label>
        <select formControlName="goodWith">
          <option selected>Any</option>
          <option>Kids</option>
          <option>Dogs</option>
          <option>Cats</option>
          <option>Other animals</option>
        </select>
        <button type="submit" [disabled]="submittedForm">Search</button>
      </form>
    </div>
  </div>
</div>