<div class="details-wrapper">
  <div class="search-section-wrapper">
    <div class="search-form">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <label for="action">
          <span>I want to:</span>
        </label>
        <mat-select formControlName="action" placeholder="any">
          <mat-option *ngFor="let action of actions" [value]="action">{{action.name}}</mat-option>
        </mat-select>

        <label for="location">
          <span>Location:</span>
        </label>
        <mat-select formControlName="location" placeholder="any" multiple>
          <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
        </mat-select>

        <label for="category">
          <span>Category:</span>
        </label>
        <mat-select formControlName="category" placeholder="any">
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
        </mat-select>

        <label for="age">
          <span>Age:</span>
        </label>
        <mat-select formControlName="ageRange" placeholder="any">
          <mat-option *ngFor="let ageRange of ageRanges" [value]="ageRange">{{ageRange}}</mat-option>
        </mat-select>

        <label for="size">
          <span>Size:</span>
        </label>
        <mat-select formControlName="size" placeholder="any">
          <mat-option *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
        </mat-select>


        <label for="gender">
          <span>Gender:</span>
        </label>
        <mat-select formControlName="gender" placeholder="any">
          <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
        </mat-select>

        <label for="fitFor">
          <span>Fit for:</span>
        </label>
        <mat-select formControlName="fitFor" placeholder="any" multiple>
          <mat-option *ngFor="let fitFor of fitFor" [value]="fitFor">{{fitFor}} </mat-option>
        </mat-select>

        <label for="goodWith">
          <span>Good with:</span>
        </label>
        <mat-select formControlName="goodWith" placeholder="any" multiple>
          <mat-option *ngFor="let goodWith of goodWith" [value]="goodWith">{{goodWith}}</mat-option>
        </mat-select>

        <button (click)="clearFilters()">Clear filters</button>
        <button type="submit" [disabled]="submittedForm" class="search-btn">Search</button>
      </form>
    </div>
  </div>
</div>

<app-pets-layout [pets]="displayedPets" *ngIf="successfulRequest"></app-pets-layout>