<div class="close-form" (click)="onClose()">
  <img src="../../../../assets/close.png">
</div>
<p>Messages: {{data.request.pet.name.toUpperCase()}}</p>
<hr />

<div class="row">
  <div class="col-md-12" *ngFor="let message of data.request.messages;">
    <div class="row right-messages" *ngIf="isCurrentUserMessage(message); else otherUser">
      <div class="col-md-1"></div>
      <div class="col-md-10 message-container">
        <div class="row name">
          <p>{{data.user.name}}</p>
        </div>
        <div class="row">
          <p>{{message.text}}</p>
        </div>
        <div class="row date">
          <p>{{getDateTime(message)}}</p>
        </div>
      </div>
      <div class="col-md-1 profile-picture">
        <div class="row">
          <mat-card class="profile-picture-card">
            <img mat-card-avatar src="../../../assets/profile-picture-replacer.png" (click)="fileInput.click()">
          </mat-card>
        </div>
      </div>
    </div>

    <ng-template #otherUser>
      <div class="row left-messages">
        <div class=" col-md-1 profile-picture">
          <div class="row">
            <mat-card class="profile-picture-card">
              <img mat-card-avatar src="../../../assets/profile-picture-replacer.png" (click)="fileInput.click()">
            </mat-card>
          </div>
        </div>
        <div class="col-md-10 message-container">
          <div class="row name">
            <p>{{getOtherUser().name}}</p>
          </div>
          <div class="row">
            <p>{{message.text}}</p>
          </div>
          <div class="row date">
            <p>{{getDateTime(message)}}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<form [formGroup]="messageForm">
  <div class="row form-wrapper">
    <div class="col-md-1"></div>
    <div class="col-md-10 message">
      <textarea placeholder="write your message here" formControlName="message"></textarea>
    </div>
    <div class="col-md-1 send">
      <img src="../../../../assets/send-message-disabled.png" *ngIf="isDisabled(); else send" class="disabled">
      <ng-template #send>
        <img src="../../../../assets/send-message.png" (click)="onSendMessage()">
      </ng-template>
    </div>
  </div>
</form>