<div *ngIf="isMoreDetailsPage; else adoptionRequest">
  <div class="row">
    <div class="col-md-6 left-side">
      <div class="row">
        <div class="col-md-1 page-img">
          <img src="../../../assets/previous.png" (click)="previousImage()" *ngIf="!isFirstImage()">
        </div>
        <div class="col-md-10">
          <div class="image-wrapper" *ngIf="data.pet.images.length !== 0; else noImages">
            <img [src]="domSanitizer.bypassSecurityTrustUrl(imageURLs[currentIdx])">
          </div>
          <ng-template #noImages>
            <div class="image-wrapper">
              <img src="../../../assets/dog.png">
            </div>
          </ng-template>
        </div>
        <div class="col-md-1 page-img">
          <img src="../../../assets/next.png" (click)="nextImage()" *ngIf="!isLastImage()">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="close-form" (click)="onClose()">
        <img src="../../../assets/close.png">
      </div>
      <p>Pet details</p>
      <hr />
      <div class="details">
        <div class="row">
          <p class="property-name">Name:&nbsp;</p>
          <p>{{data.pet.name}}</p>
        </div>
        <div class="row">
          <p class="property-name">Status:&nbsp;</p>
          <p>{{data.pet.status}}</p>
        </div>
        <div class="row">
          <p class="property-name">Category:&nbsp;</p>
          <p>{{data.pet.category}}</p>
        </div>
        <div class="row">
          <p class="property-name">Size:&nbsp;</p>
          <p>{{data.pet.size}}</p>
        </div>
        <div class="row">
          <p class="property-name">Gender:&nbsp;</p>
          <p>{{data.pet.gender}}</p>
        </div>
        <div class="row">
          <p class="property-name">Age:&nbsp;</p>
          <p>{{getAge()}}</p>
        </div>
        <div class="row">
          <p class="property-name">Location:</p>
        </div>
        <div class="row">
          <div class="col-md-6 display-tick" *ngFor="let elem of data.pet.location">
            <img src="../../../assets/tick.png">
            <p>{{elem}}</p>
          </div>
        </div>
        <div class="row">
          <p class="property-name">Fit for:&nbsp;</p>
        </div>
        <div class="row">
          <div class="col-md-6 display-tick" *ngFor="let elem of data.pet.fitFor">
            <img src="../../../assets/tick.png">
            <p>{{elem}}</p>
          </div>
        </div>
        <div *ngIf="data.pet.goodWith[0]">
          <div class="row">
            <p class="property-name">Good with:&nbsp;</p>
          </div>
          <div class="row">
            <div class="col-md-6 display-tick" *ngFor="let elem of data.pet.goodWith">
              <img src="../../../assets/tick.png">
              <p>{{elem}}</p>
            </div>
          </div>
        </div>
        <div class="row description" *ngIf="data.pet.description">
          <p class="property-name">Description:&nbsp;</p>
          <p>{{data.pet.description}}</p>
        </div>
      </div>

      <p>Shelter/Rescuer details</p>
      <hr />
      <div class="details">
        <div class="row">
          <p class="property-name">Name:&nbsp;</p>
          <p>{{data.owner.name}}</p>
        </div>
        <div class="row">
          <p class="property-name">Email:&nbsp;</p>
          <p>{{data.owner.email}}</p>
        </div>
        <div class="row">
          <p class="property-name">Phone:&nbsp;</p>
          <p>{{data.owner.phone}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 adopt-button" *ngIf="isAllowedToAdopt()">
    <button (click)="onAdoptPet()">Adopt
      <img src="../../../assets/next.png">
    </button>
  </div>
</div>

<ng-template #adoptionRequest>
  <div class="close-form" (click)="onClose()">
    <img src="../../../../assets/close.png">
  </div>
  <p>Adoption request: {{data.pet.name.toUpperCase()}}</p>
  <hr />

  <div class="request-details">
    <div class="row">
      <p class="property-name">To:&nbsp;</p>
      <p>{{data.owner.name}}, {{data.owner.email}}, {{data.owner.phone}}</p>
    </div>
    <div class="row">
      <p class="property-name">From:&nbsp;</p>
      <p>{{user.name}}, {{user.email}}, {{user.phone}}</p>
    </div>
  </div>

  <form [formGroup]="adoptionRequestFrom" (ngSubmit)="onSendAdoptionRequest()">
    <div class="row form-wrapper">
      <div class="col-md-12">
        <label for="request">
          <span class="input-field">Request message</span>
        </label>
        <textarea placeholder="write your request here" formControlName="requestMessage"></textarea>
      </div>
    </div>

    <div class="row button-wrapper">
      <div class="col-md-2">
        <button (click)="onBack()">
          <img src="../../../assets/previous.png"> Back
        </button>
      </div>
      <div class="col-md-2 submit-button">
        <button type="submit" [disabled]="submittedForm">Send</button>
      </div>
    </div>
  </form>
</ng-template>