<div class="form-wrapper">
  <div class="close-form" (click)="onClose()">
    <img src="../../../../assets/close.png">
  </div>
  <p>Pet details</p>
  <hr />

  <app-attach-photos [images]="images"></app-attach-photos>

  <form [formGroup]="addPetForm" (ngSubmit)="onSubmit()">
    <div class="form-inputs">
      <div class="row">
        <div class="col-md-4">
          <label for="name">
            <span class="input-field">Name</span>
          </label>
          <input type="text" placeholder="name" formControlName="name">

          <label for="gender">
            <span class="input-field">Gender</span>
          </label>
          <mat-select formControlName="gender" placeholder="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
          </mat-select>

          <label for="goodWith">
            <span>Good with</span>
          </label>
          <mat-select formControlName="goodWith" placeholder="good with" multiple>
            <mat-option *ngFor="let goodWith of goodWith" [value]="goodWith">{{goodWith}}</mat-option>
          </mat-select>
        </div>
        <div class="col-md-4">
          <label for="category">
            <span class="input-field">Category</span>
          </label>
          <mat-select formControlName="category" placeholder="category">
            <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
          </mat-select>

          <label for="age">
            <span class="input-field">Age</span>
          </label>
          <div class="row">
            <div class="col-md-6">
              <input type="number" placeholder="number" formControlName="ageNumber">
            </div>
            <div class="col-md-6">
              <mat-select formControlName="ageMeasurementUnit" placeholder="unit">
                <mat-option *ngFor="let ageMeasurementUnit of ageMeasurementUnits" [value]="ageMeasurementUnit">
                  {{ageMeasurementUnit}}
                </mat-option>
              </mat-select>
            </div>
          </div>

          <label for="fitFor">
            <span class="input-field">Fit for</span>
          </label>
          <mat-select formControlName="fitFor" placeholder="fit for" multiple>
            <mat-option *ngFor="let fitFor of fitFor" [value]="fitFor">{{fitFor}} </mat-option>
          </mat-select>
        </div>
        <div class="col-md-4">
          <label for="location">
            <span class="input-field">Location</span>
          </label>
          <mat-select formControlName="location" placeholder="location" multiple>
            <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
          </mat-select>

          <label for="size">
            <span class="input-field">Size</span>
          </label>
          <mat-select formControlName="size" placeholder="size">
            <mat-option *ngFor="let size of sizes" [value]="size">{{size}}</mat-option>
          </mat-select>

          <label for="status">
            <span class="input-field">Status</span>
          </label>
          <mat-select formControlName="status" placeholder="status">
            <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="description">
            <span>Description</span>
          </label>
          <textarea placeholder="description" formControlName="description"></textarea>
        </div>
      </div>

      <div class="row foster" *ngIf="!fosterFormVisible && !isAdopted()">
        Is the pet currently in foster? Add the details <p (click)="showFosterForm(true)"> &nbsp;here.</p>
      </div>
      <app-add-adopter formTitle="Adopter" [data]="adopter" (formReady)="formInitialized('adopter', $event)"
        *ngIf="isAdopted()">
      </app-add-adopter>
      <app-add-adopter formTitle="Foster" [data]="foster" (formVisible)="showFosterForm($event)"
        (formReady)="formInitialized('foster', $event)" *ngIf="!isAdopted() && fosterFormVisible">
      </app-add-adopter>

    </div>
    <div class="col-md-2 submit-button">
      <button type="submit" [disabled]="submittedForm">Save</button>
    </div>
  </form>
</div>