<div class="details-wrapper">
  <div class="logo">
    <img src="../../assets/LOGO.png">
  </div>
  <div class="sign-up">
    <p>Don't have an account? <a [routerLink]="['', 'sign-up']">Sign up</a></p>
  </div>
  <div class="login-form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">
        <span>Email</span>
      </label>
      <input type="email" formControlName="email" placeholder="email">
      <label for="password">
        <span>Password</span>
      </label>
      <input type="password" formControlName="password" placeholder="password">
      <button type="submit" [disabled]="submittedForm">Login</button>
    </form>
  </div>
</div>